@charset "UTF-8";
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$halfHourSize: 54px;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.app {
    display: flex;
}

header {
    display: flex;

    .nav {
        flex: 1;
    }
}

.calendar-section {
    flex: 1;
    display: flex;
    .week-header {
        display: inline-block;
    }
    .hours-labels {
        padding: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-top: 70px;
        > span {
            height: $halfHourSize;
        }
    }
    .calendar {
        flex: 1;
        padding: 10px;
        .week {
            flex: 1;
            display: flex;
            align-items: stretch;
            justify-content: center;
        }
    }
}

.day-column {
    border: 1px solid grey;
    border-left: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 150px;

    &:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    };
    &:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .header {
        text-align: center;
    }

    &:first-child {
        border-left: 1px solid grey;
    }
    .day {
        background: url('../images/dotted_line.png') repeat;
        background-size: 2px, 28px;
        background-position-y: -1px;
        border-top: 1px solid grey;
        flex: 1;
        padding: 4px;
        position: relative;
        height: $halfHourSize * 48;
        &.drop-target {
            padding: 0;
            margin: -4px;
            border: dashed 4px #29e;
        }
    }
}

.timebox-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .btn.delete {
        position: absolute;
        right: 0;
    }
}

.timebox {

    overflow: hidden;

    display: flex;
    flex-direction: column;
    padding: 0.5em;

    border-radius: 10px;

    > div {
        flex-shrink: 1;
        min-height: 0;
    }

    .name {
        font-weight: bold;
    }

    .sub-project {
        flex-grow: 1;
        font-size: 0.9em;
    }

    .bottom-bar {
        flex-shrink: 0;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

}

.projects {
    $projectsSpace: 10px;
    padding: $projectsSpace;
    border-right: 1px solid grey;
    .header {
        text-align: center;
        border-bottom: 1px solid grey;
        margin: {
            left: -$projectsSpace;
            right: -$projectsSpace;
        }

    }

    .sub-project {
        padding: 10px 0;
        display: flex;
        z-index: 2000;
        position: relative;
        .sub-project-name {
            margin: {
                left: 15px;
                right: 15px;
            }
        }
        .activity-types {
            display: none;
            position: absolute;
            top: 0;
            background-color: rgb(226, 226, 226);
            > li {
                padding: 10px 15px;
            }
        }
        &:hover {
            background-color: rgb(226, 226, 226);
            .activity-types {
                display: block;
            }
        }
    }
}

.list-group-item {
    &, .reset-padding {
        padding: 0;
    }
 }

 .nav-tabs {
     a.active {
       &,
       &:hover,
       &:focus {
         color: $nav-tabs-active-link-hover-color;
         background-color: $nav-tabs-active-link-hover-bg;
         border: 1px solid $nav-tabs-active-link-hover-border-color;
         border-bottom-color: transparent;
         cursor: default;
       }
     }
 }

.newtimeslot-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
}

.editproject-section {
    width: 500px;
    margin: 0 auto;

}

.login-form-wrapper {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-wrapper:not(.has-error) .help-block {
    display: none;
}

html, body, #app, .app {
    height: 100%;
}

.timesheet-table {
    th, td {
        text-align: center;
        padding: 0.2em;
    }
}
