@charset "UTF-8";
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.app {
    display: flex;
}

.calendar-section {
    flex: 1;
    display: flex;
    .week-header {
        display: inline-block;
    }
    .hours-labels {
        padding: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-top: 75px;
        > span {
            height: 50px;
        }
    }
    .calendar {
        flex: 1;
        padding: 10px;
        .week {
            flex: 1;
            display: flex;
            align-items: stretch;
            justify-content: center;
            height: 2460px;
        }
    }
}

.day-column {
    border: 1px solid grey;
    border-left: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 150px;
    .header {
        text-align: center;
    }

    &:first-child {
        border-left: 1px solid grey;
    }
    .day {
        border-top: 1px solid grey;
        flex: 1;
        padding: 4px;
        position: relative;
        &.drop-target {
            padding: 0;
            border: dashed 4px #29e;
        }
    }
}

.timebox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.projects {
    $projectsSpace: 10px;
    padding: $projectsSpace;
    border-right: 1px solid grey;
    .header {
        text-align: center;
        border-bottom: 1px solid grey;
        margin: {
            left: -$projectsSpace;
            right: -$projectsSpace;
        }

    }
    .project-list {
        .project {
            padding: 10px;
        }
    }
}
